# settings of programs that I don't care about
.AbiSuite
.adobe
.amsn
.aptitude
.bash_history
.BitTornado
.cache
.chmsee
.config
.crack-attack
.cvspass
.dbus
.DCOPserver*
.ddd
.debtags
.dmrc
.DS_Store
.dvdisaster
.elinks
.esd_auth
.evolution
.FBReader
.filezilla
.fontconfig
.gconf*
.gegl-0.0
.gimp-*
.gnochm
.gnome
.gnome2*
.gnuboy
.gradiorc
.gstreamer-*
.gtkrc-*
.gvfs
.ICEauthority
.icons
.inkscape
.java
.jigdo-lite
.jppyrc
.kde
.lesshst
.links2
.local
.lxdvdrip.conf
.macromedia
.mcop
.mcoprc
.mysql_history
.nautilus
.openoffice.org2
.pulse
.pulse-cookie
.qemu_history
.qt
.recently-used
.recently-used.xbel
.rnd
.sqlite_history
.stella
.supertux
.thumbnails
.tvtime
.vba
.viminfo
.VirtualBox
.Xauthority
.xine
.xsession-errors
